/*
Theme Name: VideoTube
Description: VideoTube - A Responsive Video WordPress Theme.
Author: phpface
Theme URI: http://themeforest.net/item/videotube-a-responsive-video-wordpress-theme/7214445?ref=phpface
Author URI: http://themeforest.net/user/phpface
Version: 3.4.3.7
License: Themeforest Licence
License URI: http://themeforest.net/licenses
Text Domain: mars
Tags: fixed-layout, fluid-layout, responsive-layout, translation-ready, light, white, one-column, two-columns, right-sidebar,custom-menu, editor-style, featured-images,  sticky-post, theme-options, translation-ready
*/

body{
	font-family: 'Lato', Arial, sans-serif;
}
img {
	max-width: 100%;
	height: auto;
}
iframe {
	border: 0
}

.avatar{
	border-radius: 50%;
}

.radio {
	margin-left: 20px;
}
#header-social a,
.social-counter-item i,
.video-details .meta a,
.post-info .meta a,
#footer .widget a.tag,
#footer .mars-keycloud-widgets a,
.tagcloud a {
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s
}

.d-block{
	display: block!important;
}

#site-content {
	margin: 30px 0;
}
.container {
	position: relative
}
/*** HEADER ***/

#header {
	position: relative;
	z-index: 10;
    padding: 15px 0;	
}
/*** LOGO ***/

/*** HEADER SEARCH ***/

#header-search input {
    border: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    width: 100%;
    background: inherit;
}
#header-search input:focus {
	outline: none;
}
#header-search button[type=submit],
#header-search button[type=submit]:hover,
#header-search button[type=submit]:focus{
    color: #bbb;
    cursor: pointer;
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
}
/*** HEADER SOCIAL ***/

#header-social {
    text-align: right;
    overflow: hidden;
}
#header-social a {
	color: #bbb;
	font-size: 14px;
	margin-left: 10px;
}
#header-social a:hover {
	color: #e73737
}
/*** NAVIGATION ***/

#navigation-wrapper {
	background: #4c5358;
}

#navigation-wrapper .nav-link,
#navigation-wrapper .dropdown-item{
    color: #FFF;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 14px;
}

#navigation-wrapper .navbar-nav > li > .nav-link{
	padding:  15px 14px;
}

#navigation-wrapper .nav-link:hover,
#navigation-wrapper .nav-link:active,
#navigation-wrapper .nav-link:focus,
#navigation-wrapper .dropdown-item:active,
#navigation-wrapper .dropdown-item:hover,
#navigation-wrapper .current-menu-item>a,
#navigation-wrapper .current-menu-parent>a{
	background: rgba(0, 0, 0, .2);
	outline: none;
}


#navigation-wrapper .dropdown-toggle,
#navigation-wrapper .dropdown-item{
	padding: 10px 14px;
}

#navigation-wrapper .dropdown-menu{
    border-radius: 0;
    top: 100%;
    border-top: none;
    margin: 0;
    padding: 0;
}

#navigation-wrapper .dropdown-menu .dropdown-menu{
	left: 100%;
	top: 0;
	margin: 0;
	padding: 0;
}

#navigation-wrapper .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;	
    background: #FFF;
}

#navigation-wrapper .navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

#navigation-wrapper .logged-item .dropdown>.nav-link{
	padding: 8px 14px!important;
}

#navigation-wrapper .logged-item .avatar{
	height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

@media ( min-width: 768px ){
	#navigation-wrapper .login-item{
		position: absolute;
		right: 0;
	}

	#navigation-wrapper .login-item> a,
	#navigation-wrapper .login-item .dropdown> a{
		background: rgba(0, 0, 0, .2);
	}
}

.row-5 {
	margin-right: -5px;
	margin-left: -5px;
}
.row-5 >[class*=col-] {
	padding-left: 5px;
	padding-right: 5px;
}

.row-5 >[class*=col-] > .item{
	padding-bottom: 30px;
}

.hentry{
	margin-bottom: 20px;
    position: relative;	
}

.spinner{
    background: url(https://www.yamyhub.com/wp-content/themes/videotube/img/spinner.gif) no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 20px;
    height: 20px;
    vertical-align: middle;
    z-index: 2;
    margin-right: 5px;
}

/*** SECTION HEADER ***/

.section-header {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    display: block;
}
.section-header h3,
.section-header .page-title {
	color: #888;
	font-size: 20px;
	letter-spacing: 0px;
	margin: 0;
	font-weight: 300;
	margin-top: 3px;
	text-transform: capitalize;
	display: inline-block;
}

.section-header h3 a {
	color: #888;
}
.section-header h3 a:hover {
	text-decoration: none;
}
.section-header .carousel-indicators{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    z-index: 1;
    margin: 0!important;
}
.section-header .carousel-indicators .bullet {
	background: #ddd;
	width: 13px;
	height: 13px;
	display: inline-block;
	border-radius: 50px;
	border: 0;
	margin: 0 2px;
}
.section-header .carousel-indicators .bullet.active {
	background: #e73737;
}

.section-header .carousel-indicators .bullet:last-child{
	margin-right: 0;
}

a.viewmore {
	padding: 5px 8px 6px 8px;
	font-size: 10px;
	background: #E73737;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 1px;
	display: inline-block;
}
a.viewmore:hover {
	text-decoration: none;
	color: #fff;
	opacity: .9;
}
a.viewmore i {
	font-size: 12px;
}
/*** FEATURED WRAPPER ***/

.featured-wrapper {
	background: #f2f2f2;
	padding: 30px 0 0 0;
	margin-bottom: 30px;
}
.featured-wrapper .row [class*=col-]{
	margin-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
.feat-item {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background: url(https://www.yamyhub.com/wp-content/themes/videotube/img/feat-bg.png) repeat-x bottom;
}
.feat-item .post-header {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    overflow: hidden;
    width: 100%;
}
.feat-item .post-title {
	margin-bottom: 4px;
	overflow: hidden;
}
.feat-item .post-title a {
	color: #FFF!important;
	font-size: 17px;
	font-weight: 700;
	white-space: nowrap;
}
/*** ITEMS ***/

.padding-5-5 {
	padding-left: 5px;
	padding-right: 5px;
}
.padding-15-15 {
	padding-left: 15px;
	padding-right: 15px;
}
.item.big.list {
	margin-bottom: 60px;
	padding-left: 0;
	padding-right: 0;
}

.carousel-inner .post .post-header {
	margin-bottom: 0;
}
.video-section .post .post-header,
.widget .post .post-header {
	margin-bottom: 0;
}

.widget.widget-featured .hentry{
	margin-bottom: 0;
}

.video-section .item img,
.widget .item img {
	margin-bottom: 5px;
	width: 100%;
	height: auto;
}
.loading-wrapper button {
	width: 100%;
}
.loading-wrapper .loading-more-icon {
	background: transparent;
}
.item .meta,
.feat-item .feat-info .meta {
	font-size: 13px;
	color: #999;
	max-width: 99%!important;
	overflow: hidden;
}
.item .meta .date,
.feat-item .feat-info .meta .date {
	float: left;
}
.item .meta .views,
.feat-item .feat-info .meta .views {
	float: right;
}
.item .meta .fcomments,
.feat-item .feat-info .meta .fcomments {
	float: right;
	margin-right: 9px;
}
.item .meta .heart,
.feat-item .feat-info .meta .heart {
	float: right;
	margin-right: 10px;
}
.item .meta .views i,
.feat-item .feat-info .meta .views i {
	font-size: 12px;
	margin-right: 3px;
	color: #b5b5b5;
}
.item .meta .heart i,
.feat-item .feat-info .meta .heart i {
	font-size: 10px;
	margin-right: 3px;
	color: #bbb;
}
.item .meta .fcomments i,
.feat-item .feat-info .meta .fcomments i {
	font-size: 12px;
	margin-right: 3px;
	color: #b5b5b5;
}
.item .meta .fcategory {
	display: block;
	margin: 7px 0 0 0;
	float: left;
}
.item .meta .fcategory a {
	margin-left: 5px;
}
.item .meta .fcategory i {
	margin-right: 3px;
}
.item .meta .fcategory a {
	color: #999
}
.feat-item .feat-info .meta .fcategory {
	float: none;
	margin: 0 0 0 12px;
	display: inline-block;
	overflow: hidden;
}
/*** ITEM LIST ***/

.watch-video-link {
    font-weight: 600;
    color: #e73737;
    font-size: 13px;
    text-transform: capitalize;
}
.watch-video-link i {
	font-size: 14px;
	margin-right: 4px;
}

/*** Big list ***/

.item.list.big img {
	margin-bottom: 12px;
}

.social-share-buttons {
    margin: 10px auto;
}

.social-share-buttons img {
	width: 30px;
	height: auto;
}
/** IMG hover **/

.item-img {
	position: relative;
	overflow: hidden;
}

.item-img::before {
    padding-top: 56.25%;
    display: block;
    content: "";    
}

.item-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    border: 0;
}

.img-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000 url(https://www.yamyhub.com/wp-content/themes/videotube/img/play-icon.png) no-repeat center center;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.img-hover.big {
	background: #000000 url(https://www.yamyhub.com/wp-content/themes/videotube/img/play-icon-big.png) no-repeat center center;
}
.item-img:hover > a .img-hover,
.img-hover.active{
	opacity: .75;
	z-index: 2;
}

.post-title{
	-ms-word-wrap: break-word;
	word-wrap: break-word;	
}

/*** SIDEBAR ***/

.sidebar .widget_recent_entries ul li {
	font-size: 13px;
	margin-bottom: 4px;
	list-style: none;
}
.sidebar .widget_recent_entries ul li:before {
	content: '\f0da';
	font-family: 'FontAwesome';
	margin-right: 6px;
}
.sidebar .widget_recent_entries ul li a {
	color: #000;
}
/*** WIDGETS ***/

.widget {
	margin-bottom: 30px;
}
.widget ul li {
	font-size: 13px;
	margin-bottom: 4px;
}
.widget ul li a {
	color: #000;
}

.widgettitle,
.widget-title{
	margin: 0 0 20px 0;
	padding: 13px 10px 14px 10px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	clear: both;
}

.widget-title a {
	color: #888;
}
.widget-title a:hover {
	text-decoration: none;
}

.widget-title .fa,
.widget-title .far,
.widget-title .fab,
.widget-title .fal,
.widget-title .fas{
    font-size: 9px;
    background: #E73737;
    color: #fff;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    letter-spacing: 0;
    margin-right: 7px!important;
    vertical-align: middle;
    margin-top: -3px;
}

.widget.widget-primary .widget-title,
.sidebar .wpb_wrapper .widgettitle,
.sidebar .wpb_wrapper .widget-title{
    background: #e73737;
    border-left: 8px solid rgba(0, 0, 0, .2);
    color: #FFF;
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
	padding: 13px 10px 14px 10px;
	display: block;
}

.widget.widget-main .widget-title,
.widget.widget-featured .widget-title,
.widget.widget-content-bottom .widget-title{
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #888;
}

.widget-content-bottom .item .item {
    margin-bottom: 20px;
}

.wpb_wrapper .widget-title {
    padding: 0;
	display: inline-block;
}

.widget.widget-primary .widget-title a{
	color: #fff;
}

.widget_search .form-group,
.widget_search input[name=s]{
	width: 100%;
	position: relative;
}

.widget_search button[type=submit]{
    position: absolute;
    right: 0px;
    top: 0;
    border: 1px solid #ccc;
}

/*** Social Widget ***/

.social-counter-item {
	text-align: center;
}

.social-counter-item i {
	width: 100%;
	height: 75px;
	background: #eee;
	color: #aaa;
	font-size: 28px;
	text-align: center;
	line-height: 75px;
	margin-bottom: 5px;
}
.social-counter-item i:hover {
	color: #fff;
}
.social-counter-item i.fa-facebook:hover {
	background: #3B5998;
}
.social-counter-item i.fa-twitter:hover {
	background: #00ABF0;
}
.social-counter-item i.fa-google-plus:hover {
	background: #DA4835;
}
.social-counter-item i.fa-rss:hover {
	background: #FF6600;
}
.social-counter-item i.fa-instagram:hover {
	background: #517fa4;
}
.social-counter-item i.fa-youtube:hover {
	background: #bb0000;
}
.social-counter-item i.fa-soundcloud:hover {
	background: #f50;
}
.social-counter-item i.fa-pinterest:hover {
	background: #c11a22;
}
.social-counter-item i.fa-tumblr:hover {
	background: #32506d;
}
.social-counter-item i.fa-vimeo:hover {
	background: #4bf;
}
.social-counter-item i.fa-linkedin:hover {
	background: #517fa4;
}
.social-counter-item a {
	color: #999;
}
.social-counter-item a:hover {
	text-decoration: none;
	color: #444;
}
.social-counter-item span.counter {
	font-size: 15px;
	font-weight: 700;
	display: block;
	margin-bottom: -3px;
}
.social-counter-item span.counter-text {
	font-size: 12px;
}
.list-unstyled.social {
	text-transform: capitalize;
}
/*** Tags ***/

.tag-cloud-link,
a.tag {
	background: #eee;
	color: #b5b5b5;
	padding: 4px 6px;
	margin: 0 4px 8px 0;
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/*** Social List ***/

ul.social li i {
	width: 20px;
	font-size: 14px;
}
.mars-posts-sidebar-widget > .row,
.mars-videos-sidebar-widget > .row {
	margin-left: -5px;
	margin-right: -5px;
}

.widget select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.widget_archive ul,
.widget_categories ul,
.widget_pages ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul,
.wp-tag-cloud {
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget_archive ul li,
.widget_categories ul li,
.widget_pages ul li,
.widget_meta ul li,
.widget_nav_menu ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li,
.wp-tag-cloud li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #eaeaea;
}
.widget_archive ul li a,
.widget_categories ul li a,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_nav_menu ul li a,
.widget_recent_comments li a,
.widget_recent_entries ul li a,
.widget_rss ul li a,
.wp-tag-cloud li a {
	font-size: 15px;
}
.widget_rss ul li a {
	font-weight: 600;
	font-size: 15px;
}
.wp-tag-cloud li a {
	background: none;
	font-size: 15px!important;
	text-transform: none;
	display: block;
}
.wp-tag-cloud li a .tag-link-count {
	float: right;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 3px;
}

.tag-cloud-link {
    font-size: 11px!important;
}

.tag-cloud-link:hover{
	text-decoration: none;
}

.list-unstyled.social li {
	border-bottom: none;
}

.widget .post-header{
    margin-top: 5px;
}

.widget .post-title{
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;	
}

[class*=carousel-mars-featuredvideo-widgets] {
	margin-top: 20px
}

.carousel-item {
    transition: transform 1s ease, opacity .5s ease-out;
}

.mars-mainvideo-widgets .carousel-item > article:last-child{
    box-shadow: none!important;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}

.scroll-list .post-title{
	font-size: 17px;
	font-weight: 700;
}

/*** FOOTER ***/

#footer {
	background: #111;
}
/*** Footer widgets ***/

h4.footer-widget-title {
	color: #FFF;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer .widget ul li a,
#footer .widget p a {
	color: #bbb;
}
#footer .widget p {
	color: #777;
}
/*** Tags **/

.tagcloud a {
	background: #eee;
}
#footer .mars-keycloud-widgets a,
#footer .widget a.tag {
	background: #333;
	color: #888;
}
.tagcloud a:hover,
#footer .mars-keycloud-widgets a:hover,
#footer .widget a.tag:hover {
	background: #e73737;
	color: #fff;
	text-decoration: none;
}
.footer-sidebar {
	padding: 40px 0 0 0;
	border-bottom: 1px solid #222;
}
/*** FOOTER COPYRIGHT ***/

.widget-footer ul li {
	border-bottom: 1px dotted #222;
}
.copyright {
	padding: 15px 0;
	text-align: center;
}
.copyright p {
	margin-bottom: 0;
}
.copyright p,
.copyright a {
	color: #fff;
}
/*** VIDEO PAGE ***/

.video-wrapper {
	margin-top: -30px;
	padding: 30px 0;
	background: #111;
	margin-bottom: 30px;
}
.video-info {
	margin-bottom: 20px;
	overflow: hidden;
}

#breadcrumbs,
#breadcrumbs a {
	color: #333;
}
.large #breadcrumbs,
.large #breadcrumbs a {
	color: #fff;
	font-size: 14px;
}
.post-password-form {
	color: #666;
}
.small #breadcrumbs a {
	color: #333;
	font-size: 14px;
}

.video-info a{
	color: #888;
}
.video-info h1 {
	margin: 0;
	font-size: 24px;
	color: #fff;
	max-width: 80%;
}
.video-info span.views {
	color: #888;
	font-size: 16px;
	line-height: 30px;
}
.video-info span.views i {
	margin-right: 4px;
}

.video-info .like-button{
	margin-right: 4px;
	color: #888;
	font-size: 16px;
	line-height: 30px;	
}

body.has-liked .video-info .like-button a,
body.has-liked .likes-dislikes,
body.has-liked .likes-dislikes i{
	color: #28a745;
}

@media (max-width: 500px){
    .video-info h1{
        font-size: 17px;
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .video-info .ml-auto{
    	margin: 0 auto;
    }
}

.video-options {
	margin-bottom: 25px;
}
.video-options .col-xs-6 {
	margin-top: 10px;
}
.video-options .option {
	border: 1px solid #e5e5e5;
	display: block;
	text-align: center;
	padding: 22px 0 20px 0;
	color: #999;
	height: 90px;
	text-decoration: none;
}
.video-options .option:hover {
	text-decoration: none;
	border: 1px solid #ccc;
	color: #666;
}
.video-options .option:hover i {
	color: #666;
}
.video-options .option i {
	font-size: 20px;
	display: block;
	margin-bottom: 4px;
	color: #b5b5b5;
}
/*** POST ENTRY ***/

.post-entry {
	font-size: 15px;
	margin-bottom: 28px;
    line-height: 30px;	
}

.post-entry h1,
.comment-text h1{
	font-size: 1.7rem;
}

.post-entry h2,
.comment-text h2{
	font-size: 1.6rem;
}

.post-entry h3,
.comment-text h3{
	font-size: 1.5rem;
}

.post-entry h4,
.comment-text h4{
	font-size: 1.4rem;
}

.post-entry h5,
.comment-text h5{
	font-size: 1.3rem;
}

.post-entry h6,
.comment-text h6{
	font-size: 1.2rem;
}

.post-entry > ul > li:last-child,
.post-entry > ol > li:last-child {
	margin-bottom: 18px;
}

.content-more-js {
    transition: height 100ms;
    overflow: hidden;    
}

.categories-video .btn-group {
	width: 100%;
}
.categories-video .btn-group .multiselect {
	width: 100%;
	text-align: left;
}
.categories-video .btn-group .multiselect-container {
	background: #fff!important;
	width: 40%;
}
.categories-video .btn-group .multiselect-container input {
	width: auto!important;
}
img.alignright {
	float: right;
	margin: 0 0 1em 1em
}
img.alignleft {
	float: left;
	margin: 0 1em 1em 0
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
a img.alignright {
	float: right;
	margin: 0 0 1em 1em
}
a img.alignleft {
	float: left;
	margin: 0 1em 1em 0
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.video-details {
	margin-bottom: 30px;
}
.video-details .date {
	font-weight: 700;
	display: block;
	margin-bottom: 5px;
}
.video-details .meta,
.post-info .meta {
	text-transform: uppercase;
	font-size: 11px;
	display: block;
	line-height: 27px;
}
.video-details .meta .meta-info,
.post-info .meta .meta-info {
	background: #e73737;
	color: #fff;
	padding: 5px 7px;
}
.video-details .meta a,
.post-info .meta a {
	background: #b2b2b2;
	color: #fff;
	padding: 5px 7px;
}
.video-details .meta a:hover,
.post-info .meta a:hover {
	text-decoration: none;
	background: #555;
	color: #fff;
}
/*** Video small ***/

.video-info.small h1 {
	color: #000;
}

.player {
	margin-bottom: 25px;
}

.player .kgvid_wrapper {
	margin-top: 0;
	width: 100%!important;
}

.player .embed-responsive{
	z-index: 999;
	background: #111;
}

.player-sticky.sticky-on .embed-responsive{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0;
	width: 400px;
}

@media screen and (max-width: 576px ){
	.player-sticky.sticky-on .embed-responsive{
		top:0;
		bottom: auto;
		width: 100%;
	}
}

/*** COMMENTS ***/

.comments {
	margin-bottom: 40px;
}

.comments #respond{
	position: relative;
}

/*** user comments ***/

#comment-list{
	margin-bottom: 30px;
}

#comment-list .comment {
	list-style: none;
}

#comment-list .the-comment {
	overflow: hidden;
	margin-bottom: 20px;
}

#comment-list .the-comment .avatar {
	float: left;
	margin-right: 6px;
	margin-bottom: 5px;
    width: 40px;
    height: 40px;	
}
#comment-list .the-comment .comment-content span.author,
#comment-list .the-comment .comment-content span.author a {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 4px;
	display: inline-block;
	color: #333;
}
#comment-list .the-comment .comment-content span.author small {
    font-weight: 400;
    color: #999;
    font-size: 12px;
    margin-left: 5px;
}

#comment-list .the-comment .comment-content a.reply,
#comment-list .the-comment .comment-content a.edit {
    font-size: 12px;
    color: #aaa;
    margin-right: 20px;
}

#comment-list .comment-text {
    font-size: 14px;
}

#comment-list>li:last-child{
	box-shadow: none!important;
}

/*** Comment nesting ***/

#comment-list .children {
	margin-left: 30px;
}

#comment-list .children li:last-child{
	box-shadow: none!important
}

#reply-title {
    font-size: 15px;
    color: #888;
    font-weight: 300;
    position: relative;
    display: none;
}

#reply-title small{
	position: absolute;
	right: 0;
	top: 0;
}

#reply-title small a{
    font-weight: 600;
    color: #aaa;
    font-size: 13px;
}

#comment-list #reply-title{
    display: inline-block;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#comment-list #reply-title small{
	visibility: visible;
}

.logged-in-as {
    display: none;
}

#commentform{
	position: relative;
	margin: 30px auto;	
}

#commentform #comment{
	height: 50px;
}

#commentform .spinner{
	margin-left: 10px;
	display: none;
}

#commentform.waiting .spinner{
	display: inline-block;
}

#commentform .text-notice{
	margin-left: 10px!important;
	font-size: 90%;
}

/*** BLOG ***/

.blog .content-area .post {
	margin-bottom: 60px;
}

.post .blog-date {
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}
.post .blog-date .day {
	font-size: 30px;
	line-height: 22px;
	color: #888;
}
.post .blog-date .month {
	text-transform: uppercase;
	color: #bbb;
	letter-spacing: 1px;
	font-size: 16px;
	margin-right: -2px;
}

.post-header h3.post-title{
	line-height: 17px;
	margin-top: 10px;
}

.post-header .post-title a{
    color: #000;
    font-size: 14px;
    font-weight: 700;
	overflow: hidden;	
	text-overflow: ellipsis;
	white-space: normal;
	-webkit-line-clamp: 2;    
}

.post-header h2.post-title a{
	font-size: 1.5rem;
	font-weight: 500;
}

.post-header h1.post-title{
	font-size: 1.8rem;
	font-weight: 500;
}

.post-header .post-meta,
.post-header .post-meta a,
.post-meta a {
	color: #aaa;
	font-size: 12px;
}
.post-header .post-meta i {
	font-size: 14px;
	color: #c5c5c5;
	margin-right: 3px;
}
.post-header .post-meta .sep {
	margin: 0 12px;
	color: #ccc;
}
.post .post-excerpt {
	margin-top: 20px;
	font-size: 13px;
}

.post-entry a.readmore {
	background: #E73737;
	padding: 10px 12px;
	border-radius: 3px;
	color: #FFF;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.post-entry a.readmore:hover {
	text-decoration: none;
	opacity: .9;
}
.post-tags a.tag {
	padding: 6px 10px;
	color: #999;
}
.single-entry {
	margin-bottom: 0;
}
/*** Pagination ***/

.pager{
    margin: 30px 0;
	padding: 0;
}

.pager li a{
	font-weight: 600;
	color: #000;
}

.pager li{
	display: inline-block;
	max-width: 250px;
}

.pager .previous{
	float: left;
}

.pager .next{
	float: right;
}

/*** BROWSE & CATEGORIES ***/

.browsing {
	display: block;
	color: #b5b5b5;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: -1px;
}
.sorting {
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.sorting li{
	display: inline-block;
	margin-right: 5px;
}

.sorting li:last-child{
	margin-right: 0;
}

.sorting li a {
	padding: 4px 8px;
	color: #999;
}
.sorting li.active a,
.sorting li:hover > a {
	background: #E73737;
	color: #fff;
	border-radius: 5px;
}
.sorting li a:hover {
	text-decoration: none;
}
.sorting li.sort-text {
	font-weight: 700;
	color: #555;
	margin-right: 6px;
}
/*** pagination ***/

.pagination .page-numbers{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #999;
	border: 1px solid #ddd;
	text-decoration: none;
}

.pagination .current,
.pagination .page-numbers:hover{
    background: #E73737;
    border-color: #E73737;
    color: #FFF;	
}

ul.post-tape li {
	margin-top: 6px;
}
ul.post-tape li a {
	border-radius: 0!important;
	background: none;
	border: none;
}
.videoWrapper {
	z-index: 100000;
	position: relative;
}
.videoWrapper video {
	width: 100%;
	height: 100%;
	max-width: 100%;
}
.videoWrapper .wp-video {
	width: 100% !important;
}
#lightoff {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .90;
	z-index: 10;
}
.videoWrapper object {
	width: 100%;
	height: 100%;
}
.videoWrapper embed {
	width: 100%;
	height: 100%;
}
video.wp-video-shortcode,
.wp-video-shortcode video {
	height: auto;
}
.video-page-builder img {
	width: 100%;
}
.carousel .meta,
.widget .col-sm-6 .meta,
.meta-maxwidth-230 .meta {
	max-width: 230px
}
.featured-wrapper .meta,
.widget .meta,
.meta-maxwidth-360 .meta {
	max-width: 360px
}
.dropdown-menu {
	background: #4c5358;
}
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	background: rgba(0, 0, 0, .2)
}
@media (min-width: 767px) {
	ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
		display: block;
	}
}

@media (max-width: 767px) {
	#navigation-wrapper{
		padding: 10px 0;
	}

	#site-search{
		margin: 0 0 10px 0;
	}

	#header-social {
		position: absolute;
		border-left: 0;
		box-shadow: none;
		bottom: -45px;
		right: 0;
		display: inline-block;
		width: auto;
	}
	#header-social a {
		margin-left: 0;
		margin-right: 10px
	}

}
.item .meta .fcomments,
.feat-item .feat-info .meta .fcomments {
	display: none;
}
@media screen and (max-width: 30em) {}@media screen and (max-width: 60em) {
	.meta span:last-child {
		margin-right: 0;
	}
}

.thescore .criteria-name {
    top: 1px;
}

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
@media screen and (max-width: 75em),
@media screen and (max-width: 53.75em) {
	#gallery-1 .gallery-item {
		width: 50%!important;
	}
}
.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	/* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.gallery-caption {
	display: block;
} 
.bypostauthor {
	display: block;
} 

.channel-header,
.profile-widget-header {
	float: left;
	width: 100%;
	border: 1px solid #eee;
	padding: 12px;
	margin-bottom: 25px;
}
.channel-image,
.profile-widget-image {
	float: left;
	margin-right: 16px;
}
.channel-info h3,
.profile-widget-info h3 {
	display: block;
	margin-bottom: 14px;
	margin-top: 9px;
	float: none;
}
.profile-widget-info h3 {
	font-size: 18px;
}
.channel-item,
.profile-widget-info-item {
	display: inline-block;
	border: 1px solid #eee;
	color: #999;
	font-size: 12px;
	padding: 3px 7px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.profile-widget-info-item a {
	color: #000;
}

.channel-description{
    overflow: hidden;
    margin-top: 40px;	
}

.columns-1 .col-sm-12 img {
	width: 100%;
	height: auto;
}
.register-terms input[name="terms_required"] {
	margin-right: 8px;
}
#subscrib-modal {
	z-index: 99999999;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

} 

.player-large.embed-responsive-twitter .twitter-video {
	max-width: 100%!important;
	height: auto;
}
#mars-submit-video-form .btn {
	margin-right: 10px;
}
#mars-submit-video-form .alert {
	padding: 5px 12px;
}
#mars-submit-video-form .alert-danger {
	margin-top: 20px;
}

#mars-submit-video-form .category-checkboxes{
    max-height: 200px;
    overflow: auto;
    border: 1px solid #ced4da;
    padding: 20px;
}

#mars-submit-video-form .percent{
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
}

#mars-submit-video-form .types-group .tab-content{
	margin-top: -2px;
	border: 1px solid #ccc;
	border-top: none;	
}

#mars-submit-video-form .types-group .tab-pane {
    padding: 20px;
}

#mars-submit-video-form .layout .radio{
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}

.video_thumbnail .thumbnail-image {
	margin: 20px 0;
}
a.uploaded-file {
	display: inline-block;
	margin-left: 0;
	color: #373d43;
}
.edit-post {
	margin: 10px 0;
	text-align: right;
}
.edit-post .btn {
	padding: 5px 20px;
}

.videotube-login #site-search form{
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
}

.videotube-login #site-search form{
	animation: none!important;
}

.videotube-login #site-search form input[type=text]{
	margin: 0;
	box-shadow: none;
	outline: none;
}

.videotube-login #login{
    padding: 5% 0 0;	
    width: 440px;
}

.videotube-login #login h1{
	display:  none;
}

.videotube-login #login form{
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	border: none;
}

.videotube-login #login form input[type=email],
.videotube-login #login form input[type=password],
.videotube-login #login form input[type=text]{
	font-size: 15px;
}

.videotube-login #login #backtoblog,
.videotube-login #login #nav{
	text-align: center;
}

@media (max-width: 480px){
	.videotube-login #login{
		width: 90%;
	}
}

#liked-list .widget-content{
	overflow-y: auto;
	overflow: -moz-hidden-unscrollable; 
	color: #fff;
	border: 1px solid #222;
}

#liked-list .widget-content::-webkit-scrollbar {
  width: .3rem;
  background: #222;
}

#liked-list .widget-content::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 0;
}

#liked-list .widget-content .type-video{
	padding: .7rem;
	margin-bottom: 0;
}

#liked-list .widget-content .current,
#liked-list .widget-content .type-video:hover{
	background: #222;
}

#liked-list .widget-content .post-title a{
	color: #fff;
}

@media ( max-width: 768px ){
	.widget-liked-videos .post-header{
		margin: 1rem 0;
	}

	#liked-list .widget-liked-videos .post-header{
		margin-top: 0;
	}	
}
.fotter-href-links{
	color:white;
}
.pornstarfigcaption{
	text-align:center;
	color: darkgreen;
}
.mobileShow-video-upper-text {display: none;
}

  /* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 0px)
    and (max-device-width : 767px){ 
      .mobileShow-video-upper-text {display: inline;
		}
  }
  .pcShow1-video-upper-text {display: none;}

  /* pc Portrait and Landscape */
  @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 10000px){ 
      .pcShow1-video-upper-text {display: inline;
    }

  }
.ahref-upper-text{
      text-decoration: none;
      color: blueviolet;
  }
.mobileShow {display: none;}

  /* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 306px)
    and (max-device-width : 467px){ 
      .mobileShow {display: inline;}
  }
  .pcShow1 {display: none;}

  /* pc Portrait and Landscape */
  @media only screen
    and (min-device-width : 468px)
    and (max-device-width : 727px){ 
      .pcShow1 {display: inline;}
  }
  .pcShow2 {display: none;}

  /* pc Portrait and Landscape */
  @media only screen
    and (min-device-width : 728px)
    and (max-device-width : 5000px){ 
      .pcShow2 {display: inline;}
  }